<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Import-necessary-modules-form-spark-package" data-toc-modified-id="Import-necessary-modules-form-spark-package-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Import necessary modules form spark package</a></span></li><li><span><a href="#Spark-is-camel-case-type-language" data-toc-modified-id="Spark-is-camel-case-type-language-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Spark is camel case type language</a></span></li><li><span><a href="#Initialize-Hive-context" data-toc-modified-id="Initialize-Hive-context-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Initialize Hive context</a></span></li><li><span><a href="#Read-data-from-Hive" data-toc-modified-id="Read-data-from-Hive-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Read data from Hive</a></span></li><li><span><a href="#Spark-is-lazy-loading,-that-means-unless-you-call-a-action-command-it-will-not-process-anything,-only-syntactical-check-will-be-done-till-the-action-called" data-toc-modified-id="Spark-is-lazy-loading,-that-means-unless-you-call-a-action-command-it-will-not-process-anything,-only-syntactical-check-will-be-done-till-the-action-called-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Spark is lazy loading, that means unless you call a action command it will not process anything, only syntactical check will be done till the action called</a></span></li><li><span><a href="#Call-action-instead---Action-is-anything-that-will-ask-spark-to-show-you-data-like-count(),-show(),-toPandas()" data-toc-modified-id="Call-action-instead---Action-is-anything-that-will-ask-spark-to-show-you-data-like-count(),-show(),-toPandas()-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Call action instead - Action is anything that will ask spark to show you data like count(), show(), toPandas()</a></span></li><li><span><a href="#We-can-cache-data-to-query-more-faster-as-caching-stores-data-in-RAM-and-will-process-without-any-delay" data-toc-modified-id="We-can-cache-data-to-query-more-faster-as-caching-stores-data-in-RAM-and-will-process-without-any-delay-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>We can cache data to query more faster as caching stores data in RAM and will process without any delay</a></span></li><li><span><a href="#Check-the-head-of-the-dataframe" data-toc-modified-id="Check-the-head-of-the-dataframe-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Check the head of the dataframe</a></span></li><li><span><a href="#Head-in-the-tabular-format-is-the-above-one-is-kind-of-messy" data-toc-modified-id="Head-in-the-tabular-format-is-the-above-one-is-kind-of-messy-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Head in the tabular format is the above one is kind of messy</a></span></li><li><span><a href="#Check-for-the-schema-and-datatypes-of-all-attributes" data-toc-modified-id="Check-for-the-schema-and-datatypes-of-all-attributes-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Check for the schema and datatypes of all attributes</a></span></li><li><span><a href="#Filtering-over-a-column" data-toc-modified-id="Filtering-over-a-column-11"><span class="toc-item-num">11&nbsp;&nbsp;</span>Filtering over a column</a></span></li><li><span><a href="#You-can-always-add-more-filters-like-that-in-new-line-but-they-all-work-as-an-AND-filters" data-toc-modified-id="You-can-always-add-more-filters-like-that-in-new-line-but-they-all-work-as-an-AND-filters-12"><span class="toc-item-num">12&nbsp;&nbsp;</span>You can always add more filters like that in new line but they all work as an AND filters</a></span></li><li><span><a href="#Adding-multiple-filters-inside-one-filter-condition-using-OR-or-AND" data-toc-modified-id="Adding-multiple-filters-inside-one-filter-condition-using-OR-or-AND-13"><span class="toc-item-num">13&nbsp;&nbsp;</span>Adding multiple filters inside one filter condition using OR or AND</a></span></li><li><span><a href="#Using-like-and-isin-inside-filter" data-toc-modified-id="Using-like-and-isin-inside-filter-14"><span class="toc-item-num">14&nbsp;&nbsp;</span>Using like and isin inside filter</a></span></li><li><span><a href="#Selecting-a-column-or-couple-of-column-using-select()" data-toc-modified-id="Selecting-a-column-or-couple-of-column-using-select()-15"><span class="toc-item-num">15&nbsp;&nbsp;</span>Selecting a column or couple of column using select()</a></span></li><li><span><a href="#Add-a-new-calculative-column-using-withColumn" data-toc-modified-id="Add-a-new-calculative-column-using-withColumn-16"><span class="toc-item-num">16&nbsp;&nbsp;</span>Add a new calculative column using withColumn</a></span></li><li><span><a href="#renaming-an-existing-column-using-withColumnRenamed()" data-toc-modified-id="renaming-an-existing-column-using-withColumnRenamed()-17"><span class="toc-item-num">17&nbsp;&nbsp;</span>renaming an existing column using withColumnRenamed()</a></span></li><li><span><a href="#Grouping-by-things-and-see-the-aggregated-stuff" data-toc-modified-id="Grouping-by-things-and-see-the-aggregated-stuff-18"><span class="toc-item-num">18&nbsp;&nbsp;</span>Grouping by things and see the aggregated stuff</a></span></li><li><span><a href="#Joining-dataframes" data-toc-modified-id="Joining-dataframes-19"><span class="toc-item-num">19&nbsp;&nbsp;</span>Joining dataframes</a></span></li><li><span><a href="#Union-a-datsframe,-in-spark-veriosn-1.6-we-don't-have-union-functionality,-we-use-unionall" data-toc-modified-id="Union-a-datsframe,-in-spark-veriosn-1.6-we-don't-have-union-functionality,-we-use-unionall-20"><span class="toc-item-num">20&nbsp;&nbsp;</span>Union a datsframe, in spark veriosn 1.6 we don't have union functionality, we use unionall</a></span></li><li><span><a href="#Write-things-back-to-hive" data-toc-modified-id="Write-things-back-to-hive-21"><span class="toc-item-num">21&nbsp;&nbsp;</span>Write things back to hive</a></span></li><li><span><a href="#Want-help-visit" data-toc-modified-id="Want-help-visit-22"><span class="toc-item-num">22&nbsp;&nbsp;</span>Want help visit</a></span></li></ul></div>

#### Import necessary modules form spark package

In [2]:
from pyspark.context import SparkContext,SparkConf
from pyspark.sql import HiveContext
from pyspark.sql.functions import *
import pandas as pd
import numpy as np

In [2]:
print pyspark.__doc__

PySpark is the Python API for Spark.

Public classes:

  - :class:`SparkContext`:
      Main entry point for Spark functionality.
  - :class:`RDD`:
      A Resilient Distributed Dataset (RDD), the basic abstraction in Spark.
  - :class:`Broadcast`:
      A broadcast variable that gets reused across tasks.
  - :class:`Accumulator`:
      An "add-only" shared variable that tasks can only add values to.
  - :class:`SparkConf`:
      For configuring Spark.
  - :class:`SparkFiles`:
      Access files shipped with jobs.
  - :class:`StorageLevel`:
      Finer-grained cache persistence levels.

In [3]:
print sc.version

1.6.3

#### Spark is camel case type language
* Not a strict Camel type but does follow the systematic pattern
        *filter()
        *withColumn()
        *withColumnRenamed()
        *registerTempTable()

Above are some of the functions which shows the camel case type structure among all the function names

#### Initialize Hive context

In [3]:
print sc
hc = HiveContext(sc)
print hc

<pyspark.context.SparkContext object at 0x7fb8adaae290>
<pyspark.sql.context.HiveContext object at 0x7fb8ad846790>

#### Read data from Hive

In [5]:
df = hc.table('prod_ca_medicare_enc.aep_base')
df.count()

8745276

#### Spark is lazy loading, that means unless you call a action command it will not process anything, only syntactical check will be done till the action called

In [72]:
%time df.filter(col('quoteid') == '444417')
%time df.filter(col('quoteid') == '430018')

CPU times: user 2 ms, sys: 0 ns, total: 2 ms
Wall time: 13.5 ms
CPU times: user 2 ms, sys: 0 ns, total: 2 ms
Wall time: 5.53 ms

DataFrame[quoteid: int, businesstype: string, plansponsorid: int, plansponsorname: string, effectivedate: timestamp, medtabcurrentexp_begindate: string, medtabcurrentexp_enddate: string, medtabpriorexp_begindate: string, medtabpriorexp_enddate: string, useexperienceonly: string, renewal_currentperiod_startdate: string, renewal_currentperiod_enddate: string, renewal_priorperiod_startdate: string, renewal_priorperiod_enddate: string, priorcarrier_currentperiod_startdate: string, priorcarrier_currentperiod_enddate: string, priorcarrier_priorperiod_startdate: string, priorcarrier_priorperiod_enddate: string, addntlpop_currentperiod_startdate: string, addntlpop_currentperiod_enddate: string, addntlpop_priorperiod_startdate: string, addntlpop_priorperiod_enddate: string, experience_credibility_weight_rx: double, experience_credibility_weight_medicalcap: double, experience_credibility_weight_hra: double, total_incurred_net_pooled_claims_prior: float, total_incurred_net_pooled_claims_current: float, total_member_months_prior: double, total_member_months_current: double, total_incurred_claims_pmpm_prior: double, total_incurred_claims_pmpm_current: double, hcc_count_prior: bigint, hcc_count_current: bigint, non_pooled_high_claimaint_dollars_prior: double, non_pooled_high_claimaint_dollars_current: double, non_pooled_high_claimaint_dollars_pmpm_prior: double, non_pooled_high_claimaint_dollars_pmpm_current: double, pooling_charge_dollars_prior: float, pooling_charge_dollars_current: float, pooling_charge_dollars_pmpm_prior: double, pooling_charge_dollars_pmpm_current: double, weights_prior: double, weights_current: double, pooling_charge_prior: float, pooling_charge_current: float, total_adjexpclaims_pmpm_prior: double, total_adjexpclaims_pmpm_current: double, factor_change_claims_prior: double, factor_change_claims_current: double, pooled_claims_prior: double, pooled_claims_current: double, pooling_point_prior: double, pooling_point_current: double, blended_projected_claims_pmpm: double, adjusted_pooling_charge_dollars_prior_pmpm: double, adjusted_pooling_charge_dollars_current_pmpm: double, adjusted_non_pooled_hcc_dollars_prior_pmpm: double, adjusted_non_pooled_hcc_dollars_current_pmpm: double, adjusted_exp_claims_without_pooling_charge_prior_pmpm: double, adjusted_exp_claims_without_pooling_charge_current_pmpm: double, adjusted_exp_claims_without_hcc_pooling_charge_prior_pmpm: double, adjusted_exp_claims_without_hcc_pooling_charge_current_pmpm: double, adjusted_experience_pmpm_blended: double, blended_claims_removing_pooling_charge_pmpm: double, blended_claims_without_hcc_pooling_charge_pmpm: double]

#### Call action instead - Action is anything that will ask spark to show you data like count(), show(), toPandas()

In [13]:
%time print df.filter(col('quoteid') == '444417').count()

1
CPU times: user 4 ms, sys: 2 ms, total: 6 ms
Wall time: 4.95 s

#### We can cache data to query more faster as caching stores data in RAM and will process without any delay
* Caching is 3 steps process
        Create a temporary table using registerTempTable()
        Call hiveContext.cacheTable()
        Call any action command to enforce caching

In [81]:
df.registerTempTable('df')
hc.cacheTable('df')
df.count()

#### Check the head of the dataframe

In [31]:
df.limit(5).show()

+-------+------------+-------------+--------------------+--------------------+--------------------------+------------------------+------------------------+----------------------+-----------------+-------------------------------+-----------------------------+-----------------------------+---------------------------+------------------------------------+----------------------------------+----------------------------------+--------------------------------+---------------------------------+-------------------------------+-------------------------------+-----------------------------+--------------------------------+----------------------------------------+---------------------------------+--------------------------------------+----------------------------------------+-------------------------+---------------------------+--------------------------------+----------------------------------+---------------+-----------------+---------------------------------------+-----------------------------------------+--------------------------------------------+----------------------------------------------+----------------------------+------------------------------+---------------------------------+-----------------------------------+-------------+---------------+--------------------+----------------------+-----------------------------+-------------------------------+--------------------------+----------------------------+-------------------+---------------------+-------------------+---------------------+-----------------------------+------------------------------------------+--------------------------------------------+------------------------------------------+--------------------------------------------+-----------------------------------------------------+-------------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------+--------------------------------+-------------------------------------------+----------------------------------------------+
|quoteid|businesstype|plansponsorid|     plansponsorname|       effectivedate|medtabcurrentexp_begindate|medtabcurrentexp_enddate|medtabpriorexp_begindate|medtabpriorexp_enddate|useexperienceonly|renewal_currentperiod_startdate|renewal_currentperiod_enddate|renewal_priorperiod_startdate|renewal_priorperiod_enddate|priorcarrier_currentperiod_startdate|priorcarrier_currentperiod_enddate|priorcarrier_priorperiod_startdate|priorcarrier_priorperiod_enddate|addntlpop_currentperiod_startdate|addntlpop_currentperiod_enddate|addntlpop_priorperiod_startdate|addntlpop_priorperiod_enddate|experience_credibility_weight_rx|experience_credibility_weight_medicalcap|experience_credibility_weight_hra|total_incurred_net_pooled_claims_prior|total_incurred_net_pooled_claims_current|total_member_months_prior|total_member_months_current|total_incurred_claims_pmpm_prior|total_incurred_claims_pmpm_current|hcc_count_prior|hcc_count_current|non_pooled_high_claimaint_dollars_prior|non_pooled_high_claimaint_dollars_current|non_pooled_high_claimaint_dollars_pmpm_prior|non_pooled_high_claimaint_dollars_pmpm_current|pooling_charge_dollars_prior|pooling_charge_dollars_current|pooling_charge_dollars_pmpm_prior|pooling_charge_dollars_pmpm_current|weights_prior|weights_current|pooling_charge_prior|pooling_charge_current|total_adjexpclaims_pmpm_prior|total_adjexpclaims_pmpm_current|factor_change_claims_prior|factor_change_claims_current|pooled_claims_prior|pooled_claims_current|pooling_point_prior|pooling_point_current|blended_projected_claims_pmpm|adjusted_pooling_charge_dollars_prior_pmpm|adjusted_pooling_charge_dollars_current_pmpm|adjusted_non_pooled_hcc_dollars_prior_pmpm|adjusted_non_pooled_hcc_dollars_current_pmpm|adjusted_exp_claims_without_pooling_charge_prior_pmpm|adjusted_exp_claims_without_pooling_charge_current_pmpm|adjusted_exp_claims_without_hcc_pooling_charge_prior_pmpm|adjusted_exp_claims_without_hcc_pooling_charge_current_pmpm|adjusted_experience_pmpm_blended|blended_claims_removing_pooling_charge_pmpm|blended_claims_without_hcc_pooling_charge_pmpm|
+-------+------------+-------------+--------------------+--------------------+--------------------------+------------------------+------------------------+----------------------+-----------------+-------------------------------+-----------------------------+-----------------------------+---------------------------+------------------------------------+----------------------------------+----------------------------------+--------------------------------+---------------------------------+-------------------------------+-------------------------------+-----------------------------+--------------------------------+----------------------------------------+---------------------------------+--------------------------------------+----------------------------------------+-------------------------+---------------------------+--------------------------------+----------------------------------+---------------+-----------------+---------------------------------------+-----------------------------------------+--------------------------------------------+----------------------------------------------+----------------------------+------------------------------+---------------------------------+-----------------------------------+-------------+---------------+--------------------+----------------------+-----------------------------+-------------------------------+--------------------------+----------------------------+-------------------+---------------------+-------------------+---------------------+-----------------------------+------------------------------------------+--------------------------------------------+------------------------------------------+--------------------------------------------+-----------------------------------------------------+-------------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------+--------------------------------+-------------------------------------------+----------------------------------------------+
| 422031|           R|     93197816|NANDO'S RESTAURAN...|2016-06-01 00:00:...|                2015-06-01|              2015-11-30|                       0|                     0|   ExperienceOnly|            2015-06-01 00:00:00|          2015-11-30 00:00:00|                            0|                          0|                                   0|                                 0|                                 0|                               0|                                0|                              0|                              0|                            0|                    0.2162315551|                            0.2162315551|                              0.0|                             138616.75|                                     0.0|                   1054.0|                        0.0|               142.2077841776843|                               0.0|              0|                0|                                    0.0|                                      0.0|                                         0.0|                                           0.0|                   14745.255|                           0.0|               13.989805391662713|                                0.0|          1.0|            0.0|           1.1063743|                   0.0|           163.88407833678932|                            0.0|         1.152426917305885|                         0.0|                0.0|                  0.0|           125000.0|                  0.0|            225.1546374919267|                                       0.0|                           16.12222830122311|                                       0.0|                                         0.0|                                                  0.0|                                      147.7618500355662|                                                      0.0|                                          147.7618500355662|              163.88407833678932|                          147.7618500355662|                             147.7618500355662|
| 423631|           R|     87487526|COMMODITY TRUCKIN...|2016-07-01 00:00:...|                2014-12-01|              2015-11-30|              2013-12-01|            2014-11-30|PriorExpAvailable|            2014-12-01 00:00:00|          2015-11-30 00:00:00|          2013-12-01 00:00:00|        2014-11-30 00:00:00|                                   0|                                 0|                                 0|                               0|                                0|                              0|                              0|                            0|                    0.4467382035|                            0.4467382035|                              0.0|                             433542.78|                               681409.06|                   1769.0|                     1974.0|              255.26652058375885|                  373.382741345511|              0|                1|                                    0.0|                                 125000.0|                                         0.0|                             63.32320162107396|                    64030.32|                    100639.945|                36.19577179903901|                  50.98274838525836|         0.75|           0.25|           1.1476909|             1.1476939|            298.7397739737565|             476.59989179846184|        1.1703053470959701|           1.276437925547926|                0.0|                  0.0|           125000.0|             125000.0|            380.3679543619117|                         65.07631358761105|                           42.36010527868088|                          80.8281361162567|                                         0.0|                                    411.5235782108508|                                      256.3796686950756|                                        330.6954420945941|                                          256.3796686950756|              343.20480342993284|                          295.1656460740194|                             274.9586120449552|
| 423831|           R|     15116458|          EDSI, INC.|2016-07-01 00:00:...|                2014-12-01|              2015-11-30|              2013-12-01|            2014-11-30|PriorExpAvailable|            2014-12-01 00:00:00|          2015-11-30 00:00:00|          2013-12-01 00:00:00|        2014-11-30 00:00:00|                                   0|                                 0|                                 0|                               0|                                0|                              0|                              0|                            0|                    0.3934746022|                            0.3934746022|                              0.0|                             685701.75|                               432100.56|                   1634.0|                     1302.0|               456.8921864189442|                 359.4727601556832|              1|                1|                               150000.0|                                 150000.0|                           91.79926560587515|                             115.2073732718894|                    73131.64|                     45969.168|                 44.7562060128519|                  35.30658062115975|         0.75|           0.25|           1.1066523|             1.1063854|            514.1778113566157|              415.4607816355789|        1.1253810562764666|          1.1557503869156815|          167424.76|   112420.73999999999|           150000.0|             150000.0|            523.0633242473821|                         40.80559421357509|                          50.367786397670415|                        133.15096623452553|                          103.30915449294368|                                    374.6551874220038|                                      463.8100249589453|                                       241.50422118747827|                                         360.50087046600163|               489.4985539263565|                         441.52131557470994|                             330.7517081463708|
| 425631|           R|     91050657|PASSPORT FOOD GRO...|2016-07-01 00:00:...|                2014-12-01|              2015-11-30|              2014-07-01|            2014-11-30|PriorExpAvailable|            2014-12-01 00:00:00|          2015-11-30 00:00:00|          2014-07-01 00:00:00|        2014-11-30 00:00:00|                                   0|                                 0|                                 0|                               0|                                0|                              0|                              0|                            0|                    0.3636652879|                            0.3636652879|                              0.0|                             336597.84|                               177284.78|                   1703.0|                      710.0|              203.64483471440974|                 265.1589933585083|              0|                0|                                    0.0|                                      0.0|                                         0.0|                                           0.0|                   46905.168|                      24956.35|                 27.5426705629771|                  35.14978818221831|         0.75|           0.25|           1.1393508|             1.1407698|            230.2060537259608|              320.4799803794021|        1.1304291319188151|          1.2086332668569797|                0.0|                  0.0|           125000.0|             125000.0|            259.6063834328466|                         42.48320332000537|                          31.135037175232107|                                       0.0|                                         0.0|                                    277.9967770593967|                                      199.0710165507287|                                        277.9967770593967|                                          199.0710165507287|               252.7745353893211|                          218.8024566778957|                             218.8024566778957|
| 425831|           R|     10666296|ARIZONA FOUNDATIO...|2016-08-01 00:00:...|                2015-01-01|              2015-12-31|              2014-01-01|            2014-12-31|PriorExpAvailable|            2015-01-01 00:00:00|          2015-12-31 00:00:00|          2014-01-01 00:00:00|        2014-12-31 00:00:00|                                   0|                                 0|                                 0|                               0|                                0|                              0|                              0|                            0|                    0.4706286028|                            0.4706286028|                              0.0|                              972141.6|                                710584.1|                   2193.0|                     2110.0|               481.0095559987355|                 366.4832955133297|              0|                0|                                    0.0|                                      0.0|                                         0.0|                                           0.0|                    97958.19|                      71602.26|                44.66857615139079|                  33.93471934241706|         0.75|           0.25|                null|             1.1007653|            554.9204006450352|             454.97096745403417|         1.153657746971027|          1.2414507646706259|                0.0|                  0.0|           150000.0|             150000.0|             477.889689967402|                         42.12828327652674|                          51.532248923217246|                                       0.0|                                         0.0|                                    412.8426841775074|                                     503.38815172181796|                                        412.8426841775074|                                         503.38815172181796|                529.933042347285|                         480.75178483574035|                            480.75178483574035|
+-------+------------+-------------+--------------------+--------------------+--------------------------+------------------------+------------------------+----------------------+-----------------+-------------------------------+-----------------------------+-----------------------------+---------------------------+------------------------------------+----------------------------------+----------------------------------+--------------------------------+---------------------------------+-------------------------------+-------------------------------+-----------------------------+--------------------------------+----------------------------------------+---------------------------------+--------------------------------------+----------------------------------------+-------------------------+---------------------------+--------------------------------+----------------------------------+---------------+-----------------+---------------------------------------+-----------------------------------------+--------------------------------------------+----------------------------------------------+----------------------------+------------------------------+---------------------------------+-----------------------------------+-------------+---------------+--------------------+----------------------+-----------------------------+-------------------------------+--------------------------+----------------------------+-------------------+---------------------+-------------------+---------------------+-----------------------------+------------------------------------------+--------------------------------------------+------------------------------------------+--------------------------------------------+-----------------------------------------------------+-------------------------------------------------------+---------------------------------------------------------+-----------------------------------------------------------+--------------------------------+-------------------------------------------+----------------------------------------------+

#### Head in the tabular format is the above one is kind of messy

In [32]:
df.limit(5).toPandas()

,quoteid,businesstype,plansponsorid,plansponsorname,effectivedate,medtabcurrentexp_begindate,medtabcurrentexp_enddate,medtabpriorexp_begindate,medtabpriorexp_enddate,useexperienceonly,...,adjusted_pooling_charge_dollars_current_pmpm,adjusted_non_pooled_hcc_dollars_prior_pmpm,adjusted_non_pooled_hcc_dollars_current_pmpm,adjusted_exp_claims_without_pooling_charge_prior_pmpm,adjusted_exp_claims_without_pooling_charge_current_pmpm,adjusted_exp_claims_without_hcc_pooling_charge_prior_pmpm,adjusted_exp_claims_without_hcc_pooling_charge_current_pmpm,adjusted_experience_pmpm_blended,blended_claims_removing_pooling_charge_pmpm,blended_claims_without_hcc_pooling_charge_pmpm
0,414142,P,15754454,THE RAE CORPORATION,2016-01-01,2014-07-01,2015-06-30,2013-07-01,2014-06-30,PriorExpAvailable,...,35.672504,0.000000,0.0,258.250560,194.488727,258.250560,194.488727,286.794831,242.310102,242.310102
1,429542,R,8433617,"HARTZ MOUNTAIN INDUSTRIES, INC.",2016-07-01,2015-02-01,2016-01-31,2014-02-01,2015-01-31,PriorExpAvailable,...,37.562132,0.000000,0.0,341.666868,332.609632,341.666868,332.609632,378.042063,339.402559,339.402559
2,432342,R,92890696,LEADS INC,2016-10-01,2015-04-01,2016-01-31,0,0,ExperienceOnly,...,0.000000,96.170479,0.0,418.605202,0.000000,322.434723,0.000000,502.333084,418.605202,322.434723
3,432542,R,153835,KUHL CORP,2016-10-01,2015-10-01,2016-01-31,0,0,ExperienceOnly,...,0.000000,0.000000,0.0,196.424914,0.000000,196.424914,0.000000,229.463332,196.424914,196.424914
4,432742,R,80075723,"LAGOS, INC.",2016-10-01,2015-02-01,2016-01-31,2014-02-01,2015-01-31,PriorExpAvailable,...,63.253728,0.000000,0.0,345.608986,390.610717,345.608986,390.610717,414.636792,356.859419,356.859419

#### Check for the schema and datatypes of all attributes

In [41]:
df.printSchema()

root
 |-- quoteid: integer (nullable = true)
 |-- businesstype: string (nullable = true)
 |-- plansponsorid: integer (nullable = true)
 |-- plansponsorname: string (nullable = true)
 |-- effectivedate: timestamp (nullable = true)
 |-- medtabcurrentexp_begindate: string (nullable = true)
 |-- medtabcurrentexp_enddate: string (nullable = true)
 |-- medtabpriorexp_begindate: string (nullable = true)
 |-- medtabpriorexp_enddate: string (nullable = true)
 |-- useexperienceonly: string (nullable = true)
 |-- renewal_currentperiod_startdate: string (nullable = true)
 |-- renewal_currentperiod_enddate: string (nullable = true)
 |-- renewal_priorperiod_startdate: string (nullable = true)
 |-- renewal_priorperiod_enddate: string (nullable = true)
 |-- priorcarrier_currentperiod_startdate: string (nullable = true)
 |-- priorcarrier_currentperiod_enddate: string (nullable = true)
 |-- priorcarrier_priorperiod_startdate: string (nullable = true)
 |-- priorcarrier_priorperiod_enddate: string (nullable = true)
 |-- addntlpop_currentperiod_startdate: string (nullable = true)
 |-- addntlpop_currentperiod_enddate: string (nullable = true)
 |-- addntlpop_priorperiod_startdate: string (nullable = true)
 |-- addntlpop_priorperiod_enddate: string (nullable = true)
 |-- experience_credibility_weight_rx: double (nullable = true)
 |-- experience_credibility_weight_medicalcap: double (nullable = true)
 |-- experience_credibility_weight_hra: double (nullable = true)
 |-- total_incurred_net_pooled_claims_prior: float (nullable = true)
 |-- total_incurred_net_pooled_claims_current: float (nullable = true)
 |-- total_member_months_prior: double (nullable = true)
 |-- total_member_months_current: double (nullable = true)
 |-- total_incurred_claims_pmpm_prior: double (nullable = true)
 |-- total_incurred_claims_pmpm_current: double (nullable = true)
 |-- hcc_count_prior: long (nullable = true)
 |-- hcc_count_current: long (nullable = true)
 |-- non_pooled_high_claimaint_dollars_prior: double (nullable = true)
 |-- non_pooled_high_claimaint_dollars_current: double (nullable = true)
 |-- non_pooled_high_claimaint_dollars_pmpm_prior: double (nullable = true)
 |-- non_pooled_high_claimaint_dollars_pmpm_current: double (nullable = true)
 |-- pooling_charge_dollars_prior: float (nullable = true)
 |-- pooling_charge_dollars_current: float (nullable = true)
 |-- pooling_charge_dollars_pmpm_prior: double (nullable = true)
 |-- pooling_charge_dollars_pmpm_current: double (nullable = true)
 |-- weights_prior: double (nullable = true)
 |-- weights_current: double (nullable = true)
 |-- pooling_charge_prior: float (nullable = true)
 |-- pooling_charge_current: float (nullable = true)
 |-- total_adjexpclaims_pmpm_prior: double (nullable = true)
 |-- total_adjexpclaims_pmpm_current: double (nullable = true)
 |-- factor_change_claims_prior: double (nullable = true)
 |-- factor_change_claims_current: double (nullable = true)
 |-- pooled_claims_prior: double (nullable = true)
 |-- pooled_claims_current: double (nullable = true)
 |-- pooling_point_prior: double (nullable = true)
 |-- pooling_point_current: double (nullable = true)
 |-- blended_projected_claims_pmpm: double (nullable = true)
 |-- adjusted_pooling_charge_dollars_prior_pmpm: double (nullable = true)
 |-- adjusted_pooling_charge_dollars_current_pmpm: double (nullable = true)
 |-- adjusted_non_pooled_hcc_dollars_prior_pmpm: double (nullable = true)
 |-- adjusted_non_pooled_hcc_dollars_current_pmpm: double (nullable = true)
 |-- adjusted_exp_claims_without_pooling_charge_prior_pmpm: double (nullable = true)
 |-- adjusted_exp_claims_without_pooling_charge_current_pmpm: double (nullable = true)
 |-- adjusted_exp_claims_without_hcc_pooling_charge_prior_pmpm: double (nullable = true)
 |-- adjusted_exp_claims_without_hcc_pooling_charge_current_pmpm: double (nullable = true)
 |-- adjusted_experience_pmpm_blended: double (nullable = true)
 |-- blended_claims_removing_pooling_charge_pmpm: double (nullable = true)
 |-- blended_claims_without_hcc_pooling_charge_pmpm: double (nullable = true)

#### Filtering over a column

In [43]:
qt1=df \
    .filter(col('quoteid') == '444417')

#### You can always add more filters like that in new line but they all work as an AND filters

In [45]:
qt1 = df \
    .filter(col('quoteid') == '444416') \
    .filter(col('total_incurred_net_pooled_claims_prior') > 100)

#### Adding multiple filters inside one filter condition using OR or AND

In [46]:
qt1 = df \
    .filter((col('quoteid')=='444417')&(col('total_incurred_net_pooled_claims_prior') > 100))
    
qt1 = df \
    .filter((col('quoteid')=='444417')|(col('total_incurred_net_pooled_claims_prior') > 100))

#### Using like and isin inside filter

In [52]:
qt1 = df \
    .filter(col('quoteid').like('%444%'))
    
qt1.select('quoteid').limit(5).show()

+-------+
|quoteid|
+-------+
| 444233|
| 424441|
| 534441|
| 434442|
| 534442|
+-------+

In [53]:
df.filter(col('quoteid').isin('444417','430018')).select('quoteid').show()

+-------+
|quoteid|
+-------+
| 444417|
+-------+

#### Selecting a column or couple of column using select()

In [54]:
df.select('quoteid','businesstype').limit(2).show()

+-------+------------+
|quoteid|businesstype|
+-------+------------+
| 422031|           R|
| 423631|           R|
+-------+------------+

#### Add a new calculative column using withColumn
*  We always use "\" to go to new line and "." to start the function name
*  Use col() to wrap column names inside that as it will allow us to call specific functions on targeted column names, you can write it another way but I prefer to write it this way

In [58]:
df \
    .filter(col('quoteid') == '444417') \
    .filter(col('businesstype').isin('P','R')) \
    .select('quoteid','businesstype') \
    .withColumn('cols',concat_ws('-',col('businesstype'),lit("shubham"))) \
    .limit(5).show()

+-------+------------+---------+
|quoteid|businesstype|     cols|
+-------+------------+---------+
| 444417|           R|R-shubham|
+-------+------------+---------+

#### renaming an existing column using withColumnRenamed()

In [60]:
df \
    .filter(col('quoteid') == '444417') \
    .filter(col('businesstype').isin('P','R')) \
    .select('quoteid','businesstype') \
    .withColumnRenamed('businesstype','businesstype_renamed') \
    .limit(5).show()

+-------+--------------------+
|quoteid|businesstype_renamed|
+-------+--------------------+
| 444417|                   R|
+-------+--------------------+

#### Grouping by things and see the aggregated stuff

In [66]:
df \
    .groupBy('businesstype') \
    .agg(*[
        count('quoteid').alias('NoOfQuoteid'),
        countDistinct('quoteid').alias('NoOfDistinctQuoteid'),
        max('effectivedate').alias('max_eff_date'),
        min('effectivedate').alias('min_eff_date'),
        collect_list('pooling_charge_prior').alias('pooling_charge_list'),
        collect_set('pooling_charge_prior').alias('pooling_charge_set')
    ]) \
    .withColumn('businesstype_Rename',concat_ws('-',col('businesstype'),lit("shubham"))) \
    .withColumn('pooling_charge_list_size',size('pooling_charge_list')) \
    .withColumn('pooling_charge_set_size',size('pooling_charge_set')) \
    .limit(5).toPandas()

,businesstype,NoOfQuoteid,NoOfDistinctQuoteid,max_eff_date,min_eff_date,pooling_charge_list,pooling_charge_set,businesstype_Rename,pooling_charge_list_size,pooling_charge_set_size
0,R,8945,8945,2018-06-01,2016-01-01,"[1.14975214005, 1.10130286217, 1.11286520958, ...","[1.14975214005, 1.10130286217, 1.11286520958, ...",R-shubham,7616,5967
1,P,869,869,2018-07-01,2015-10-01,"[1.08126020432, 0.0, 0.0, 0.0, 1.11880099773, ...","[1.08126020432, 0.0, 1.11880099773, 1.09500968...",P-shubham,239,130

#### Joining dataframes

In [67]:
# create a new dataframe
qt1 = df \
    .filter(col('businesstype') == 'P')
    
join = df \
    .join(qt1,on=['quoteid'],how='inner')
    
join = df \
    .join(qt1,on=[df['quoteid1'] == qt1['quoteid2']],how='inner') \
    .drop(df['quoteid1']) \
    .withColumnRenamed('quoteid2','quoteid')
    
print qt1.count()
print join.count()

869
869

### pivot in pyspark

In [ ]:
income_1=income.groupby('fips','state_county','market','sub_market','status').pivot('income_group').sum('Prospects')

#### Union a datsframe, in spark veriosn 1.6 we don't have union functionality, we use unionall

In [68]:
unionall = df.unionAll(qt1)

print unionall.count()

10683

#### Write things back to hive

In [70]:
#hc.sql('create table db.tablename as ORC select * from "temptable')

#### Want help visit
    *  http://spark.apache.org/docs/2.1.0/api/python/pyspark.sql.html

### converting pandas frame to pyspark frame

In [ ]:
schema=StructType([
        StructField('fips2',IntegerType(),True),
        StructField('aepyear',IntegerType(),True),
    StructField('market',StringType(),True),
    StructField('submarket',StringType(),True),
    StructField('st_county',StringType(),True),
    StructField('status',StringType(),True),
    StructField('competitor_population',FloatType(),True),
    StructField('disruption_5',IntegerType(),True),
    StructField('disrupted',IntegerType(),True),
    StructField('aep_sales',IntegerType(),True),
    StructField('aetna_rank',IntegerType(),True),
    StructField('aep_leads',FloatType(),True),
    StructField('aep_mktg_sales',IntegerType(),True),
    StructField('spend',FloatType(),True),
    StructField('medicare_eligibles',FloatType(),True),
    StructField('ci',FloatType(),True),
    StructField('ci_change',FloatType(),True),
    StructField('aetna_moop_minus_comp',FloatType(),True),
    StructField('aetna_moop',FloatType(),True),
    StructField('yoy_rank_change_1',FloatType(),True),
    StructField('competitor_moop',FloatType(),True),
    StructField('calls',FloatType(),True),
    StructField('lis_population',FloatType(),True),
    StructField('pf_group',StringType(),True),
    StructField('responses',FloatType(),True)
    ])
aep2020_ps=hc.createDataFrame(aep_2020,schema=schema)

### writing pandas frame to excel

In [ ]:
writer=pd.ExcelWriter('raw_data_v3.xlsx')
final_2.to_excel(writer,'sheet1')
writer.save()

### writing data to hive

In [ ]:
# AEP 2019 Sample
def createHiveTable(sqlContext, tableName, col_dtypes, drop=False):
    if drop == True:
        sqlContext.sql('DROP TABLE IF EXISTS ' + tableName)
        pass
    sqlCreate = 'CREATE TABLE ' + tableName + ' (\n' +  ',\n'.join([ f + '\t' + t.upper() for (f, t) in col_dtypes ]) + ') \
                STORED AS TEXTFILE'
    ## add partition by argument here
    sqlContext.sql(sqlCreate)

#Wrting Into Hive
table_count_features = 'dev_ca_medicare_enc.acq_v4_AEP2019_new18'

# Creating a new table (and dropping the old table)
createHiveTable(sqlContext, table_count_features, AEP2019_UPDATE.dtypes, True)

# Writing data into the table
AEP2019_UPDATE \
    .write \
    .mode('overwrite') \
    .insertInto(table_count_features)

### getting distribution stats

In [ ]:
def dataset_stats(a):
    a=a.select('ce_consumer_stability_index1','medrentp1','aetna_penetration','comp_avg_med_star','aet_avg_premium'\
                            ,'aet_avg_drug_star','aet_avg_moop','age','aet_avg_network_phy','comp_avg_star'\
                            ,'comp_avg_moop','comp_avg_premium','comp_avg_network_phy','comp_avg_drug_star'\
                            ,'ge_alspmailorderbuyer_20101','medvalue1','phv300kp1','findc','ce_wealthfinder_cd'\
                           ,'ge_alsmedianwealth_2010','ce_home_value_cd','ce_expendable_income_rank_cd'\
                           ,'pf_rank','cc_spoken_language1','ce_sel_indiv_mari_stus_cd'\
                            ,'ce_home_equity_estimate_cd','tw_organic_food_store1','lower_equity','ce_organic_food_model1'\
                          ,'ce_family_income_det_range','hohagecode')
    b=a.describe()

    rows=a.count()

    summary = b.filter(col('summary')=='count')

    summary1=summary.select(*((lit(rows)-col(c)).alias(c) for c in b.columns))

    summary1=summary1.withColumn('summary',when(col('summary').isNull(),'miss').otherwise('miss'))

    b=b.unionAll(summary1)

    return b

## filter pandas column names

In [ ]:
cat_feature_elite = [f for f in feature_elite if raw.dtypes[f]=='object']

## sort and then take the first value

In [ ]:
sales_features_sorted_ppo=final_pd_ppo.sort_values(['data_flag','fips','pf_rank'])

In [ ]:
sales_features_ppo=sales_features_sorted_ppo.groupby(['data_flag','fips']).first().reset_index()